$icomoon-font-path: "./fonts" !default;

$ticon-monitoring-vessel-car: "\e934";
$ticon-monitoring-vessel: "\e935";
$ticon-monitoring-earth: "\e936";
$ticon-bond: "\e937";
$ticon-yardplan: "\e900";
$ticon-yard: "\e901";
$ticon-worker: "\e902";
$ticon-vessel-sail-empty-right: "\e903";
$ticon-vessel-sail-empty-left: "\e904";
$ticon-vessel-sail-empty: "\e905";
$ticon-vessel-sail: "\e906";
$ticon-tugmaster: "\e907";
$ticon-truck-right-o: "\e908";
$ticon-truck-right: "\e909";
$ticon-truck-left-o: "\e90a";
$ticon-truck-left: "\e90b";
$ticon-truck-front: "\e90c";
$ticon-truck-empty-right: "\e90d";
$ticon-truck-empty-left: "\e90e";
$ticon-transporter: "\e90f";
$ticon-tc-cntr: "\e910";
$ticon-sts-vessel-right: "\e911";
$ticon-sts-vessel-left: "\e912";
$ticon-sts-cntr-right: "\e913";
$ticon-sts-cntr-left: "\e914";
$ticon-printer: "\e915";
$ticon-port-marker: "\e916";
$ticon-port-fuel-marker: "\e917";
$ticon-mafi: "\e918";
$ticon-hh-right: "\e919";
$ticon-hh-left: "\e91a";
$ticon-heavycargo: "\e91b";
$ticon-handshake-o: "\e91c";
$ticon-handhelder: "\e91d";
$ticon-global-port-connection: "\e91e";
$ticon-gate-truck: "\e91f";
$ticon-gate: "\e920";
$ticon-driver: "\e921";
$ticon-dollar: "\e922";
$ticon-document-o: "\e923";
$ticon-cntr-tk: "\e924";
$ticon-cntr-stacked-3d: "\e925";
$ticon-cntr-stacked: "\e926";
$ticon-cntr-rf: "\e927";
$ticon-cntr-ot: "\e928";
$ticon-cntr-os: "\e929";
$ticon-cntr-gp: "\e92a";
$ticon-cntr-fr: "\e92b";
$ticon-cloud-shipping-o: "\e92c";
$ticon-cloud-shipping: "\e92d";
$ticon-chat-o: "\e92e";
$ticon-car-right: "\e92f";
$ticon-car-loading: "\e930";
$ticon-car-left: "\e931";
$ticon-car-Inspection: "\e932";
$ticon-barcode: "\e933";

