.test{
    background-image: url('??');
}


// .login_body {background: url(get-resource-path('#{$package_path}/images/background/background.jpg')) 0 0;background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed!important;}
