$font-icon-font-family: dynamic(FontAwesome);

.custom-responsivepanel-header .x-panel-header-default {
    background-color: #FFFFFF;
}

.custom-responsivepanel-text .x-title-text {
    color: #000000;
    font-size: small;
}