
/**
.x-color-picker-item {
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-color: #fff;
    border-style: solid;
    background-color: #fff;
    cursor: pointer;
    padding: 2px;
}
*/

/**
.x-color-picker {
    width: 192px;
    height: 120px;
    background-color: #fff;
    border-color: #fff;
    border-width: 0;
    border-style: solid;
}
*/
